@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@import 'mixins';

body {
    margin: 0;
    line-height: 1.5;
    font-size: calculateRem(16px);
    font-weight: 400;
    background-color: #fff;

    * {
        font-family: 'Roboto', Arial, sans-serif;
        user-select: none;
    }
}

.outer-block {
    margin: 0 auto;
    text-align: center;
    padding: 0 6.25%;
    width: 87.5%;
}

.inner-block {
    margin: 0 auto;
    padding: 0 1.9%;
    width: 96.2%;
}

.content {
    margin: 0 auto;
    padding: 0 2.55%;
    width: 95.9%;
}

.button {
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: calculateRem(4px);

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    &:hover {
        filter: brightness(110%);
    }

    &:hover:active {
        filter: brightness(95%);
    }

    &.white {
        color: #287bf8;
        background: #fff;
        border: 2px solid #e0e0e0;
    }

    &.green {
        background: #28c868;
        color: #fff;
    }

    &.blue {
        color: #fff;
        background: #287bf8;
    }

    &.dark-blue {
        background: #475993;
        color: #fff;
    }

    &.transparent {
        color: #fff;
        border: 2px solid #fff;
    }

    &.orange {
        background: #fb7600;
        color: #fff;
    }
}

.valign-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// todo: for debugging
.back-to-nav {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #d3e2ea;
    margin: 0 auto;
    display: block;
}

// end todo

@media (min-width: 320px) {
    .button {
        height: calculateRem(50px);
        font-size: calculateRem(18px);
    }

    .outer-block {
        max-width: 280px;
    }

    .inner-block {
        max-width: 260px;
    }

    .content {
        max-width: 240px;
    }
}

@media (min-width: 576px) {
    .button {
        height: calculateRem(93px);
        font-size: calculateRem(33.75px);
    }

    .outer-block {
        max-width: 526px;
    }

    .inner-block {
        max-width: 488px;
    }

    .content {
        max-width: 450px;
    }
}